streamlit
pandas
yfinance
plotly
numpy
streamlit-autorefresh
Pillow
nsepythonserver
streamlit>=1.32.0
pandas>=2.0.0
plotly>=5.18.0
pytz>=2024.1
feedparser>=6.0.10
nsetools>=1.0.10
requests>=2.31.0
lxml>=5.0.0
